templates/n8n/daily_project_brief.json
{
  "name": "VESPERA - Daily Project Brief",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 300],
      "parameters": {
        "command": "py D:/Projects/vespera/core/vespera.py status"
      }
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [440, 300],
      "parameters": {
        "filePath": "C:/Users/pro/ObsidianVaults/VESPERA_Vault/APPROVAL_QUEUE.md",
        "dataPropertyName": "data"
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Build Daily Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\nconst dateStr = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\nconst dateCompact = dateStr.replace(/-/g, '');\n\n// vespera status 출력\nlet statusOutput = '(no output)';\ntry {\n  statusOutput = $('Execute Command').first().json.stdout || '(no output)';\n} catch(e) {}\n\n// APPROVAL_QUEUE.md 내용\nlet approvalContent = '(file not found)';\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(items[0], 'data');\n  approvalContent = buf.toString('utf-8');\n} catch(e) {}\n\n// Pending 항목 추출\nconst pendingRows = approvalContent\n  .split('\\n')\n  .filter(l => l.trim().startsWith('|') && l.includes('Pending'))\n  .join('\\n');\nconst pendingSection = pendingRows || '(없음)';\n\nconst brief = [\n  '---',\n  'type: daily_brief',\n  `date: ${dateStr}`,\n  '---',\n  `# Daily Brief - ${dateStr}`,\n  '',\n  '## Status',\n  '```',\n  statusOutput.trim(),\n  '```',\n  '',\n  '## Approval Queue',\n  pendingSection,\n  '',\n  \"## Today's Focus\",\n  '- [ ] ',\n  ''\n].join('\\n');\n\nconst fileName = `${dateCompact}_daily_brief.md`;\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(brief, 'utf-8'),\n  fileName,\n  'text/markdown'\n);\n\nreturn [{ json: { dateCompact, fileName }, binary: { brief: binaryData } }];"
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Write Daily Brief",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [880, 300],
      "parameters": {
        "fileName": "=C:/Users/pro/ObsidianVaults/VESPERA_Vault/08_Daily_Brief/{{ $json.dateCompact }}_daily_brief.md",
        "dataPropertyName": "brief"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Execute Command", "type": "main", "index": 0 }]
      ]
    },
    "Execute Command": {
      "main": [
        [{ "node": "Read Binary File", "type": "main", "index": 0 }]
      ]
    },
    "Read Binary File": {
      "main": [
        [{ "node": "Build Daily Brief", "type": "main", "index": 0 }]
      ]
    },
    "Build Daily Brief": {
      "main": [
        [{ "node": "Write Daily Brief", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceName": "VESPERA"
  }
}
